$primary-blue: #151c5a;
$black: #000000;
$white: #ffffff;
$hyacinth-blue: #3c5daa;
$athens-grey: #f6f7f9;
$navy-blue: #23385c;
$mystic: #eaeef2;
$light-grey: #d9d9d9;
$light-grey1: #707070;
$light-grey2: #f5f5f5;
$light-grey3: #f0f0f0;
$light-grey4: #e0e0e0;
$light-grey5: #ebebeb;
$light-grey6: #767676;
$dim-grey: #eeeeee;
$dark-grey: #666666;
$light-grey7: #757575;
$light-grey8: #777777;
$label-light-grey: #b1b1b1;
$sea-foam: #5eefb0;
$bright-link-blue: #4d75dd;
$orange: #ed9e00;
$orange2: #ed9e1e;
$green: #1c8453;
$green-rollover: #289b65;
$green-darker: #145c3a;
$green-light: #37b400;
$orange-light: #fdf1dd;
$red-light: #f5e0e0;
$red-green: #e7f2ed;
$hyacinth-blue-rollover: #5779c7;
$hyacinth-blue-light: #e8eef6;
$error: #be3232;
$orange3: #f57e26;
$orange4: #f48021;
$orange5: #d67a24;
$disabedInput: #fafafa;
$panel-header-bg: #f6f6f6;
$blue1: #1e69d2;

// Font Family
$roboto: "Roboto", sans-serif;
$barlow: "Barlow", sans-serif;
